/* Reset básico */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: "Comic Sans MS", cursive, sans-serif; */
}

body {
  background-color: #111;
  color: #fff;
  padding: 16px;
}

/* Título */
.title {
  text-align: center;
  font-size: 1.6rem;
  margin-bottom: 20px;
}

/* Formulario */
.product-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 20px;
}

.input-text {
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  width: 100%;
}

.add-btn {
  background-color: #28a745;
  color: white;
  width: 100%;
  margin-top: 4px;
}

/* Lista de productos */
.product-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Tarjeta de producto */
.product-card {
  background-color: #000;
  border: 2px solid #ccc;
  border-radius: 16px;
  padding: 12px 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.product-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-name {
  font-size: 1.1rem;
}

.delete-btn {
  background: none;
  color: #ff4d4d;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
}

/* Cuerpo de la tarjeta */
.product-body {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  font-size: 1rem;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.action-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 6px 12px;
  font-size: 1.1rem;
  border-radius: 8px;
  cursor: pointer;
}

.input-number {
  font-size: 1.2rem;
  max-width: 6em;
  text-align: center;
  appearance: none;
  -webkit-appearance: none;
}

/* Para evitar que las flechas aparezcan al editar, usa este código */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none; /* Para Chrome, Safari */
  appearance: none; /* Para navegadores modernos */
}
